<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="{$keywords}" />
    <meta name="Description" content="{$description}" />

    <title>{$page_title}</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="icon" href="animated_favicon.gif" type="image/gif" />
    <link href="{$ecs_css_path}" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="__TEMPLATE__/ec/common/js/common.js"></script>
    
    <script type="text/javascript">
    function $id(element) {
        return document.getElementById(element);
    }
    //切屏--是按钮，_v是内容平台，_h是内容库
    function reg(str){
        var bt=$id(str+"_b").getElementsByTagName("h2");
            for(var i=0;i<bt.length;i++){
                bt[i].subj=str;
                bt[i].pai=i;
                bt[i].style.cursor="pointer";
                bt[i].onclick=function(){
                $id(this.subj+"_v").innerHTML=$id(this.subj+"_h").getElementsByTagName("blockquote")[this.pai].innerHTML;
                for(var j=0;j<$id(this.subj+"_b").getElementsByTagName("h2").length;j++){
                    var _bt=$id(this.subj+"_b").getElementsByTagName("h2")[j];
                    var ison=j==this.pai;
                    _bt.className=(ison?"":"h2bg");
                }
            }
        }
        $id(str+"_h").className="none";
        $id(str+"_v").innerHTML=$id(str+"_h").getElementsByTagName("blockquote")[0].innerHTML;
    }
    </script>
</head>
<body>

    <include file='__TEMPLATE__/ec/common/library/page_header.lbi'/>
    <!--当前位置 start-->
    <div class="block box">
        <div id="ur_here">
            <include file='__TEMPLATE__/ec/common/library/ur_here.lbi'/>
        </div>
    </div>
    <!--当前位置 end-->
    <div class="blank"></div>
    <div class="block clearfix">
        <!--left start-->
        <div class="AreaL">
            <include file='__TEMPLATE__/ec/common/library/cart.lbi'/>
            <include file='__TEMPLATE__/ec/common/library/category_tree.lbi'/>
            <include file='__TEMPLATE__/ec/common/library/goods_related.lbi'/>
            <include file='__TEMPLATE__/ec/common/library/goods_fittings.lbi'/>
            <include file='__TEMPLATE__/ec/common/library/goods_article.lbi'/>
            <include file='__TEMPLATE__/ec/common/library/goods_attrlinked.lbi'/>
            <include file='__TEMPLATE__/ec/common/library/history.lbi'/>
        </div>
        <!--left end-->
        
        <!--right start-->
        <div class="AreaR">
        
            <!--商品详情start-->
            <div id="goodsInfo" class="clearfix">
                <!--商品图片和相册 start-->
                <div class="imgInfo">
                    <if value="$pictures">
                        <a href="javascript:;" onclick="window.open('gallery.php?id={$goods.goods_id}'); return false;">
                            <img src="{$goods.goods_img}" alt="{$goods.goods_name}"/>
                        </a>
                    <else/>
                        <img src="{$goods.goods_img}" alt="{$goods.goods_name}"/>
                    </if>
                    <div class="blank5"></div>
                    <!--相册 START-->
                    <include file='__TEMPLATE__/ec/common/library/goods_gallery.lbi'/>
                    <!--相册 END-->
                    <div class="blank5"></div>
                </div>
                <!--商品图片和相册 end-->
                <div class="textInfo">
                    <form action="javascript:addToCart({$goods.goods_id})" method="post" name="ECS_FORMBUY" id="ECS_FORMBUY" >
                        <div class="clearfix">
                            <p class="f_l">{$goods.goods_style_name}</p>
                            <p class="f_r">
                                <if value="$prev_good" >
                                    <a href="{$prev_good.url}">前の商品</a>
                                </if>
                                <if value="$next_good" >
                                    <a href="{$next_good.url}">次の商品</a>
                                </if>
                            </p>
                        </div>
                        <ul>
                            <if value="$promotion" >
                                <li class="padd">
                                    <foreach from="$promotion" value="$item"  key="$promotion_key"  >
                                        この商品が今以下のキャンペンがやっている
                                        <if value="$item['type'] eq 'snatch' " >
                                            <a href="{|U:'ec/EcSnatch/index'}" title="商品奇襲" style="font-weight:100; color:#f69; text-decoration:none;">[商品奇襲]</a>
                                        <elseif value="$item['type'] eq 'group_buy'"/>
                                            <a href="{|U:'ec/EcGroupBuy/index'}" title="団体購入" style="font-weight:100; color:#f69; text-decoration:none;">[団体購入]</a>
                                        <elseif value="$item['type'] eq 'auction'"/>
                                            <a href="{|U:'ec/EcAuction/index'}" title="オークション" style="font-weight:100; color:#f69; text-decoration:none;">[オークション]</a>
                                        <elseif value="$item['type'] eq 'favourable'"/>
                                            <a href="{|U:'ec/EcActivity/index'}" title="セール" style="font-weight:100; color:#f69; text-decoration:none;">[セール]</a>
                                        </if>
                                        <a href="{$item.url}" title="{$lang.$item.type} {$item.act_name}{$item.time}" style="font-weight:100; color:#f69;">
                                            {$item.act_name}
                                        </a><br />
                                    </foreach>
                                </li>
                            </if>
                            <li class="clearfix">
                                <dd>   
                                    <!-- 显示商品货号-->
                                    <if value="$zh.config.ec_show_goodssn" >
                                        <strong>商品番号：</strong>{$goods.goods_sn}
                                    </if>
                                </dd>
                                <dd class="ddR">
                                    <!-- 商品库存-->
                                    <if value="$goods['goods_number'] neq '' and $zh.config.ec_show_goodsnumber " >
                                        <if value="$goods['goods_number'] eq 0" >
                                            <strong>商品数：</strong>
                                            <font color='red'>売り切れ</font>
                                        <else/>
                                            <strong>商品数：</strong>
                                            {$goods.goods_number} {$goods.measure_unit}
                                        </if>
                                    </if>
                                </dd>
                            </li>
                            <li class="clearfix">
                                <dd>
                                    <if value="$goods['goods_brand'] neq '' and  $zh.config.ec_show_brand " >
                                        <strong>ブランド：</strong><a href="{$goods.goods_brand_url}" >{$goods.goods_brand}</a>
                                    </if>
                                </dd>
                                <dd class="ddR">
                                    <if value="$zh.config.ec_show_goodsweight">
                                        <strong>重さ：</strong>{$goods.goods_weight}
                                    </if>
                               </dd>
                            </li>
                            <li class="clearfix">
                                <dd>
                                    <if value="$zh.config.ec_show_addtime" >
                                        <strong>売り出し時間：</strong>{$goods.add_time}
                                    </if>
                                </dd>
                                <dd class="ddR">
                                    <!--点击数-->
                                    <strong>クリック数：</strong>{$goods.click_count}
                                </dd>
                            </li>
                            <li class="clearfix">
                                <dd class="ddL">
                                    <!--市场售价-->
                                    <if value="$zh.config.ec_show_marketprice" >
                                        <strong>市場価格：</strong><font class="market">{$goods.market_price}</font><br />
                                    </if>
                                    <!--本店售价-->
                                    <strong>店舗値段：</strong><font class="shop" id="ECS_SHOPPRICE">{$goods.shop_price_formated}</font><br />
                                     <!-- 会员等级对应的价格-->
                                    <foreach from="$rank_prices" value="$rank_price"  key="$rank_price_key"  >
                                        <strong>{$rank_price.rank_name}：</strong>
                                        <font class="shop" id="ECS_RANKPRICE_{$rank_price_key}">{$rank_price.price}</font><br />
                                    </foreach>
                                </dd>
                                <dd style="width:48%; padding-left:7px;">
                                    <strong>コメント：</strong>
                                    <img src="__TEMPLATE__/ec/common/style/images/stars{$goods.comment_rank}.gif" alt="comment rank {$goods.comment_rank}" />
                                </dd>
                            </li>
                            <if value="$volume_price_list">
                                <li class="padd">
                                    <font class="f1">優遇価格：</font><br />
                                    <table width="100%" border="0" cellpadding="3" cellspacing="1" bgcolor="#aad6ff">
                                        <tr>
                        					<td align="center" bgcolor="#FFFFFF"><strong>数</strong></td>
                        					<td align="center" bgcolor="#FFFFFF"><strong>優遇価格</strong></td>
                        				</tr>
                                        <foreach from="$volume_price_list" value="$price_list"  key="$price_key"  >
                                        <tr>
                        					<td align="center" bgcolor="#FFFFFF" class="shop">{$price_list.number}</td>
                        					<td align="center" bgcolor="#FFFFFF" class="shop">{$price_list.format_price}</td>
                        				</tr>
                                        </foreach>
                                    </table>
                                </li>
                            </if>
                            <if value="$goods['is_promote'] and $goods['gmt_end_time']" >
                                <script type="text/javascript" src="__TEMPLATE__/ec/common/js/lefttime.js"></script>
                                <li class="padd loop" style="margin-bottom:5px; border-bottom:1px dashed #ccc;">
                                    <strong>促銷価：</strong>
                                    <font class="shop">{$goods.promote_price}</font><br />
                                    <strong>残る時間：</strong>
                                    <font class="f4" id="leftTime">请稍等, 正在载入中...</font><br />
                                </li>
                            </if>
                            <li class="clearfix">
                                <dd>
                                    <strong>商品総額：</strong><font id="ECS_GOODS_AMOUNT" class="shop"></font>
                                </dd>
                                <dd class="ddR">
                                    <!-- 购买此商品赠送积分-->
                                    <if value="$goods['give_integral'] gt 0" >
                                        <strong>この商品買うと送るポイント：</strong><font class="f4">{$goods.give_integral} {$points_name}</font>
                                    </if>
                                </dd>
                            </li>
                            <if value="$goods['bonus_money']" >
                                <li class="padd loop" style="margin-bottom:5px; border-bottom:1px dashed #ccc;">
                                    <strong>この商品買うと送るボーナス：</strong>
                                    <font class="shop">{$goods.bonus_money}</font><br />
                                </li>
                            </if>
                            <li class="clearfix">
                                <dd>
                                    <strong>購入数：</strong>
                                    <input name="number" type="text" id="number" value="1" size="4" onblur="changePrice()" style="border:1px solid #ccc; "/>
                                </dd>
                                <dd class="ddR">
                                    <!-- 购买此商品可使用积分-->
                                    <if value="$zh.config.ec_use_integral" >
                                        <strong>この商品買う使える：</strong>
                                        <font class="f4">{$goods.integral} {$points_name}</font>
                                    </if>
                                </dd>
                            </li>
                            <!-- 为免运费商品则显示-->
                            <if value="$goods['is_shipping']">
                                <li style="height:30px;padding-top:4px;">
                                    この商品は運賃免状商品で，運賃は計算しないこと<br />
                                </li>
                            </if>
                            <!--  开始循环所有可选属性 -->
                            <foreach from="$specification" value="$spec"  key="$spec_key"  >
                                <li class="padd loop">
                                    <strong>{$spec.name}：</strong><br />
                                    <!-- 判断属性是复选还是单选  -->
                                    <if value="$spec.attr_type eq 1" >
                                        <if value="$zh.config.ec_goodsattr_style eq 1" >
                                            <foreach from="$spec.values" value="$value"  key="$key"  >
                                            <label for="spec_value_{$value.id}">
                                                <input type="radio" name="spec_{$spec_key}" value="{$value.id}" id="spec_value_{$value.id}" <if value="$key eq 0">checked</if> onclick="changePrice()" />
                                                {$value.label} [<if value="$value['price'] gt 0">プラス<elseif value="$value['price'] lt 0"/>マイナス</if> {$value.format_price}] 
                                            </label><br />
                                            </foreach>
                                            <input type="hidden" name="spec_list" value="{$key}" />
                                        <else/>
                                            <select name="spec_{$spec_key}" onchange="changePrice()" >
                                                <foreach from="$spec.values" value="$value"  key="$key"  >
                                                <option label="{$value.label}" value="{$value.id}">
                                                    {$value.label} <if value="$value['price'] gt 0">プラス<elseif value="$value['price'] lt 0"/>マイナス</if><if value="$value['price'] neq 0">{$value.format_price}</if>
                                                </option>
                                                </foreach>
                                            </select>
                                            <input type="hidden" name="spec_list" value="{$key}" />
                                        </if>
                                    <else/>
                                        <foreach from="$spec.values" value="$value"  key="$key"  >
                                            <label for="spec_value_{$value.id}">
                                                <input type="checkbox" name="spec_{$spec_key}" value="{$value.id}" id="spec_value_{$value.id}" onclick="changePrice()" />
                                                {$value.label} [<if value="$value['price'] gt 0">プラス<elseif value="$value['price'] lt 0"/>マイナス</if> {$value.format_price}] 
                                            </label><br />
                                        </foreach>
                                        <input type="hidden" name="spec_list" value="{$key}" />
                                    </if>
                                </li>
                            </foreach>
                            <!-- 结束循环可选属性  -->
                            <li class="padd">
                                <a href="javascript:addToCart({$goods.goods_id})">カード</a>&nbsp;&nbsp;&nbsp;
                                <a href="javascript:collect({$goods.goods_id})">収蔵</a>
                                <if value="$affiliate['on']">
                                    <!--<a href="{|U:'ec/EcUser/index'}&act=affiliate&goodsid={$goods.goods_id}" ><img src='__TEMPLATE__/ec/common/style/images/bnt_recommend.gif'/></a>-->
                                </if>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <div class="blank"></div>
            <!--商品详情end-->
            <!--商品描述，商品属性 START-->
            <div class="box">
                <div class="box_1">
                    <h3 style="padding:0 5px;">
                        <div id="com_b" class="history clearfix">
                            <h2>簡単紹介</h2>
                            <h2 class="h2bg">商品属性</h2>
                            <if value="$package_goods_list" >
                                <h2 class="h2bg" style="color:red;">お得な合わせ買う</h2>
                            </if>
                        </div>
                    </h3>
                    <div id="com_v" class="boxCenterList RelaArticle"></div>
                        <div id="com_h">
                            <blockquote>
                                {$goods.goods_desc}
                            </blockquote>
                            <blockquote>
                                <table class="table" width="100%" border="0" cellpadding="3" cellspacing="1" bgcolor="#dddddd">
                                    <foreach from="$properties" value="$property_group"  key="$property_group_key"  >
                                        <tr>
                                            <th colspan="2" bgcolor="#FFFFFF">{$property_group_key}</th>
                                        </tr>
                                        <foreach from="$property_group" value="$property"    >
                                            <tr>
                                                <td bgcolor="#FFFFFF" align="left" width="30%" class="f1">[{$property.name}]</td>
                                                <td bgcolor="#FFFFFF" align="left" width="70%">{$property.value}</td>
                                            </tr>
                                        </foreach>
                                    </foreach>
                                </table>
                            </blockquote>
                            <if value="$package_goods_list" >
                                <blockquote>
                                    <foreach from="$package_goods_list" value="$package_goods"    >
                                        <strong>{$package_goods.act_name}</strong><br />
                                        <table width="100%" border="0" cellpadding="3" cellspacing="1" bgcolor="#dddddd">
                                            <tr>
                                                <td bgcolor="#FFFFFF">
                                                    <foreach from="$package_goods.goods_list" value="$goods_list"    >
                                                        <a href="goods.php?id={$goods_list.goods_id}" target="_blank">
                                                            <font class="f1">{$goods_list.goods_name}</font>
                                                        </a> &nbsp;&nbsp;X {$goods_list.goods_number}<br />
                                                    </foreach>
                                                </td>
                                                <td bgcolor="#FFFFFF">
                                                    <strong>元値段：</strong><font class="market">{$package_goods.subtotal}</font><br />
                                                    <strong>合わせ買う値段：</strong><font class="shop">{$package_goods.package_price}</font><br />
                                                    <strong>節約：</strong><font class="shop">{$package_goods.saving}</font><br />
                                                </td>
                                                <td bgcolor="#FFFFFF">
                                                    <a href="javascript:addPackageToCart({$package_goods.act_id})" style="background:transparent">
                                                        カードに入れる
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </foreach>
                                </blockquote>
                            </if>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                reg("com");
                </script>
                <div class="blank"></div>
                <!--商品描述，商品属性 END-->
                <include file='__TEMPLATE__/ec/common/library/goods_tags.lbi'/>
                <include file='__TEMPLATE__/ec/common/library/bought_goods.lbi'/>
                <include file='__TEMPLATE__/ec/common/library/bought_note_guide.lbi'/>
                <?php
                $comments_arr['type']=$type;
                $comments_arr['id']=$id;
                ?>
                <include file='__TEMPLATE__/ec/common/library/comments.lbi'/>
                
            </div>
            <!--right end-->
        </div>
        <!--right end-->
    </div>
    <div class="blank5"></div>

    
    <!--友情链接 start-->
    <if value="$img_links  or $txt_links" >
    <div id="bottomNav" class="box">
        <div class="box_1">
            <div class="links clearfix">
                <!--开始图片类型的友情链接-->
                <foreach from="$img_links" value="$link"  >
                <a href="{$link.url}" target="_blank" title="{$link.name}">
                    <img src="{$link.logo}" alt="{$link.name}" border="0" />
                </a>
                </foreach>
                <!--结束图片类型的友情链接-->
                <if value="$txt_links" >
                    <!--开始文字类型的友情链接-->
                    <foreach from="$txt_links" value="$link"  >
                        [<a href="{$link.url}" target="_blank" title="{$link.name}">{$link.name}</a>]
                    </foreach>
                    <!--结束文字类型的友情链接-->
                </if>
            </div>
        </div>
    </div>
    </if>
    <!--友情链接 end-->
    <div class="blank"></div>
    <include file='__TEMPLATE__/ec/common/library/page_footer.lbi'/>
</body>
<script type="text/javascript">
    var goods_id = {$goods_id};
    <if value="{$zh.config.ec_goodsattr_style}">
        var goods_id={$zh.config.ec_goodsattr_style};
    <else/>
        var goods_id=1;
    </if>
    var gmt_end_time = {$promote_end_time|default_value:@@,0};
    var day = "日";
    var hour = "時間";
    var minute = "分";
    var second = "秒";
    var end = "終わり";
    var goodsId = {$goods_id};
    var now_time = {$now_time};

    onload = function(){
        changePrice();
        fixpng();
        try { onload_leftTime(); }
        catch (e) {}
    }
    
    /**
     * 点选可选属性或改变数量时修改商品价格的函数
     */
    function changePrice()
    {
        var attr = getSelectedAttributes(document.forms['ECS_FORMBUY']);
        var qty = document.forms['ECS_FORMBUY'].elements['number'].value;
        var ajaxurl=APP+"&c=EcGoods&m=index";
        Ajax.call(ajaxurl, 'act=price&id=' + goodsId + '&attr=' + attr + '&number=' + qty, changePriceResponse, 'GET', 'JSON');
    }
    
    /**
    * 接收返回的信息
    */
    function changePriceResponse(res)
    {
        if (res.err_msg.length > 0)
        {
            alert(res.err_msg);
        }
        else
        {
            document.forms['ECS_FORMBUY'].elements['number'].value = res.qty;
            
            if (document.getElementById('ECS_GOODS_AMOUNT'))
                document.getElementById('ECS_GOODS_AMOUNT').innerHTML = res.result;
        }
    }
    
</script>
</html>