<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>首页</title>
    </head>
    <body>
        <include file='__TEMPLATE__/erp/common/library/page_header.lbi'/>
        
        
        <h1>Welcome meta</h1>
        <form action="{|U:'company_login'}" method="post" name="theForm" >
        <form >
            <table>
                <tr>
                    <td>ID:</td>
                    <td><input type="text" name="company_login_id" /></td>
                </tr>
                <tr>
                    <td>PW:</td>
                    <td><input  type="password" name="company_pw" /></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="确定" class="button" />
                    </td>
                </tr>
            </table>
        </form>
        <br />
        
        <include file='__TEMPLATE__/erp/common/library/page_footer.lbi'/>
        
    </body>
</html>