<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="Description" content="{$zh.config.description}" />
	<meta name="keywords" content="{$zh.config.keywords}" />
	<meta name="format-detection" content="telephone=no" />
	<meta http-equiv="Cache-Control" content="no-transform" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta name="applicable-device" content="pc,mobile">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=0;" />
	<title>japan_travel</title>

	<link rel="stylesheet" href="/common/css/import.css">
	<link rel="stylesheet" href="/common/css/list.css">
	<link rel="stylesheet" href="/common/css/jquery.ad-gallery.css">

	<!--[if lt IE 9]>
	<script src="/common/scripts/html5.js"></script>
	<![endif]-->
</head>
<body id="japan_travel">
	<!-- 头部 -->
		<!--#include virtual="/common/inc/header.lbi"-->
	<!-- //头部 -->
	<!-- 中间内容 -->
	<div id="content">
		
			<div class="main_content">
				<div class="wrapper fix">
						<!-- 路径 -->
						<div class="path">
							<a href="/">首页</a> &gt; <a href="">日本旅游</a> &gt; <a href="">大阪旅游</a> &gt; <span>东京-大阪-京都6日游</span>
						</div>
						<!-- //路径 -->
					<!-- 不分左右的中间结构 -->
					<div class="all_content">
						<section class="travel_detail_sectiion">
							<h2 class="travel_name">
								<span class="holiday">[国庆]</span>
								<span>&lt;东京-大阪-京都6日游&gt;广州直飞， 畅快赏枫，立减</span>
							</h2>
							<p class="remark">
								<span class="number">编号23160455：</span>
								<span>本产品由HIS中国 [广州支店] 提供相关服务</span>
							</p>
							<div class="fix">
								<div class="travel_detail_price">
									<div class="td_price_area">
										<p class="tdp_area_price">
											<span class="price_txt_01">HIS 价：</span>
											<del class="price_txt_02">¥6299起</del>
										</p>
										<div class="tdp_area_price_now">
											<span class="price_txt_01">促销价：</span>
											<strong class="price_one">¥ <span>5299</span> 起</strong>
											<a href="" class="price_set_intro">起价说明</a>
											<div class="td_price_intro">
												<a href="">优惠详情</a>
											</div>
										</div>
									</div>
									<div class="td_price_detail">
										<div class="mb5">
											<ul class="fix">
												<li>
													<span class="price_txt_01">出发地：</span>
													<span class="price_txt_02">广州</span>
												</li>
												<li>
													<span class="price_txt_01">出团日期：</span>
													<span class="price_txt_02">10月1日 ~ 11月1日</span>
												</li>
												<li>
													<span class="price_txt_01">最少成团人数：</span>
													<span class="price_txt_02">20人</span>
												</li>
											</ul>
										</div>
										<p>
											<span class="price_txt_01">特色：</span>
											<span class="price_txt_02">富士山五合目 银座 忍野八海 金阁寺 祗园 日本料理 购物 1晚温泉酒店</span>
										</p>
									</div>
									<div class="td_price_spec fix">
										<span class="manager_rec">产品经理推荐</span>
										<ul class="fix t_tag_list">
											<li><span>日式美食</span></li>
											<li><span>日式美食</span></li>
											<li><span>日式美食</span></li>
											<li><span>日式美食</span></li>
											<li><span>日式美食</span></li>
										</ul>
									</div>
									<div class="td_price_tag">
										<ul class="fix">
											<li>
												<span>★</span>
												<span class="price_txt_01">航空：</span>
												<span class="price_txt_02">南方航空，舒适航班，直飞</span>
											</li>
											<li>
												<span>★</span>
												<span class="price_txt_01">酒店住宿：</span>
												<span class="price_txt_02">一晚民俗温泉酒店. 体验日式温泉3-4人一间</span>
											</li>
											<li>
												<span>★</span>
												<span class="price_txt_01">组合：</span>
												<span class="price_txt_02">古韵京都、壮观富士山、潮流东京、关西大阪等，游遍日本景点</span>
											</li>
											<li>
												<span>★</span>
												<span class="price_txt_01">传统美食：</span>
												<span class="price_txt_02">日式和风料理，和洋自助餐，日式涮锅浓汤拉面等丰富美食</span>
												<div class="more_area">
													<a href="">更多</a>
												</div>
											</li>
											
										</ul>
									</div>
								</div>
								<!-- 左边小轮播部分 -->
								<div class="ad-gallery">
									<div class="ad-image-wrapper">
									</div>
									<div class="ad-controls">
									</div>
									<div class="ad-nav">
										<div class="ad-thumbs">
											<ul class="ad-thumb-list">
												<li>
													<a href="/japan_travel/images/detail/travel_detail_adv_img_01.jpg">
														<img src="/japan_travel/images/detail/travel_detail_adv_img_01.jpg" title="">
													</a>
												</li>
												<li>
													<a href="/japan_travel/images/detail/travel_detail_adv_img_01.jpg">
														<img src="/japan_travel/images/detail/travel_detail_adv_img_01.jpg" title="">
													</a>
												</li>
												<li>
													<a href="/japan_travel/images/detail/travel_detail_adv_img_01.jpg">
														<img src="/japan_travel/images/detail/travel_detail_adv_img_01.jpg" title="">
													</a>
												</li>
												<li>
													<a href="/japan_travel/images/detail/travel_detail_adv_img_01.jpg">
														<img src="/japan_travel/images/detail/travel_detail_adv_img_01.jpg" title="">
													</a>
												</li>
												<li>
													<a href="/japan_travel/images/detail/travel_detail_adv_img_01.jpg">
														<img src="/japan_travel/images/detail/travel_detail_adv_img_01.jpg" title="">
													</a>
												</li>
												<li>
													<a href="/japan_travel/images/detail/travel_detail_adv_img_01.jpg">
														<img src="/japan_travel/images/detail/travel_detail_adv_img_01.jpg" title="">
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- //左边小轮播部分 -->
							</div>
							
						</section>
						<section class="booking_area fix">
							<div class="booking_select">
								<span>出发日期</span>
								<select name="" id="">
									<option value="">2015-10-02（周五）</option>
								</select>
								<span>成人</span>
								<select name="" id="">
									<option value="">2</option>
								</select>
								<span>儿童</span>
								<select name="" id="">
									<option value="">0</option>
								</select>
								<a href="">说明</a>
							</div>
							<div class="booking_price">
								<strong class="price_one">总价：¥ <span>5299</span></strong>
								<a href="" class="btn_03">立即预订</a>
							</div>
						</section>
						<section class="tour_intro">
							<nav class="tour_nav">
								<ul class="fix">
									<li class="on"><a href="">行程特色</a></li>
									<li><a href="">行程介绍</a></li>
								</ul>
							</nav>
							<div class="tour_content">
								<section class="tour_detail">
									<h3 class="tour_ttl">行程特色</h3>
									<article class="tour_txt">
										<ul>
											<li>
												<span class="price_txt_01">吃：</span>
												<span class="price_txt_02">全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。</span>
											</li>
										</ul>
									</article>
								</section>
								<section class="tour_detail">
									<h3 class="tour_ttl">行程介绍</h3>
									<article class="tour_txt">
										<div class="tour_list_show">
											<ul class="tour_day_list">
												<li class="on"><a href="">Day 1</a></li>
												<li><a href="">Day 2</a></li>
												<li><a href="">Day 3</a></li>
												<li><a href="">Day 4</a></li>
												<li><a href="">Day 5</a></li>
												<li><a href="">Day 6</a></li>
												<li><a href="">Day 7</a></li>
											</ul>
											<div class="tour_day_detail">
												<div class="tdd_content">
													<span class="td_begin">
														第一天  广州 <img src="/common/images/ico/ico_plane.png" width="22" height="19" alt=""> 东京 
													</span>
													<div class="td_content_detail">
														全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />
													</div>
												</div>
											</div>
											<div class="tour_day_detail">
												<div class="tdd_content">
													<span class="td_begin">
														第二天  广州 <img src="/common/images/ico/ico_plane.png" width="22" height="19" alt=""> 东京 
													</span>
													<div class="td_content_detail">
														全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />全程指定餐厅用餐，特色中餐【*******】中餐一次，晚餐在酒店内用餐，不含*****内餐。<br />
													</div>
												</div>
											</div>
										</div>
									</article>
								</section>
							</div>
						</section>
					</div>
					<!-- //不分左右的中间结构 -->
				</div>
			</div>

	</div>
	<!-- //中间内容 -->
	<!-- 底部 -->
		<!--#include virtual="/common/inc/footer.lbi"-->
	<!-- //底部 -->
	<script src="/common/scripts/jsloader.js" type="text/javascript"></script>
	<script src="/common/scripts/jquery.ad-gallery.min.js" type="text/javascript"></script>
	<script>
		$(function(){
			navBannerOn(1);
			var galleries = $('.ad-gallery').adGallery();
		});
	</script>
</body>
</html>