<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
TODO:
1.application/rss+xml 部分的设置之后设置
 -->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Keywords" content="{$keywords}" />
        <meta name="Description" content="{$description}" />
        <title>{$page_title}</title>
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="icon" href="animated_favicon.gif" type="image/gif" />
        <link href="{$ecs_css_path}" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="__TEMPLATE__/ec/common/js/common.js"></script>
        <script type="text/javascript" src="__TEMPLATE__/ec/common/js/index.js"></script>
    </head>
    <body>
        <include file='__TEMPLATE__/ec/common/library/page_header.lbi'/>
        <div class="blank"></div>
        <div class="block clearfix">
            <!--left start-->
            <div class="AreaL">
                <!--站内公告 start-->
                <div class="box">
                    <div class="box_1">
                        <h3><span>商店公告</span></h3>
                        <div class="boxCenterList RelaArticle">
                            {$shop_notice}
                        </div>
                    </div>
                </div>
                <div class="blank5"></div>
                <include file='__TEMPLATE__/ec/common/library/cart.lbi'/>
                <include file='__TEMPLATE__/ec/common/library/category_tree.lbi'/>
                <include file='__TEMPLATE__/ec/common/library/top10.lbi'/>
                <include file='__TEMPLATE__/ec/common/library/promotion_info.lbi'/>
                <include file='__TEMPLATE__/ec/common/library/order_query.lbi'/>
                <include file='__TEMPLATE__/ec/common/library/invoice_query.lbi'/>
                <include file='__TEMPLATE__/ec/common/library/vote.lbi'/>
                <include file='__TEMPLATE__/ec/common/library/email_list.lbi'/>
            </div>
            <!--left end-->
            
            <!--right start-->
            <div class="AreaR">
                <!--焦点图和站内快讯 START-->
                <div class="box clearfix">
                    <div class="box_1 clearfix">
                        <div class="f_l" id="focus">
                            <include file='__TEMPLATE__/ec/common/library/index_ad.lbi'/>
                        </div>
                        <!--news-->
                        <div id="mallNews" class="f_r">
                            <div class="NewsTit"></div>
                            <div class="NewsList tc">
                                <include file='__TEMPLATE__/ec/common/library/new_articles.lbi'/>
                            </div>
                        </div>
                        <!--news end-->
                    </div>
                </div>
                <div class="blank5"></div>
                <!--焦点图和站内快讯 END-->
                
                <!--今日特价，品牌 start-->
                <div class="clearfix">
                    <!--特价-->
                    <include file='__TEMPLATE__/ec/common/library/recommend_promotion.lbi'/>
                    <!--品牌-->
                    <div class="box f_r brandsIe6">
                        <div class="box_1 clearfix" id="brands">
                            <include file='__TEMPLATE__/ec/common/library/brands.lbi'/>
                        </div>
                    </div>
                </div>
                <div class="blank5"></div>
                
                <include file='__TEMPLATE__/ec/common/library/recommend_best.lbi'/>
                <include file='__TEMPLATE__/ec/common/library/recommend_new.lbi'/>
                <include file='__TEMPLATE__/ec/common/library/recommend_hot.lbi'/>
                <include file='__TEMPLATE__/ec/common/library/auction.lbi'/>
                <include file='__TEMPLATE__/ec/common/library/group_buy.lbi'/>
                
            </div>
            <!--right end-->
        </div>
        <div class="blank5"></div>
        
        <!--帮助-->
        <div class="block">
            <div class="box">
                <div class="helpTitBg clearfix">
                    <include file='__TEMPLATE__/ec/common/library/help.lbi'/>
                </div>
            </div>
        </div>
        <div class="blank"></div>
        <!--帮助-->
        
        <!--友情链接 start-->
        <if value="$img_links  or $txt_links" >
        <div id="bottomNav" class="box">
            <div class="box_1">
                <div class="links clearfix">
                    <!--开始图片类型的友情链接-->
                    <foreach from="$img_links" value="$link"  >
                    <a href="{$link.url}" target="_blank" title="{$link.name}">
                        <img src="{$link.logo}" alt="{$link.name}" border="0" />
                    </a>
                    </foreach>
                    <!--结束图片类型的友情链接-->
                    <if value="$txt_links" >
                        <!--开始文字类型的友情链接-->
                        <foreach from="$txt_links" value="$link"  >
                            [<a href="{$link.url}" target="_blank" title="{$link.name}">{$link.name}</a>]
                        </foreach>
                        <!--结束文字类型的友情链接-->
                    </if>
                </div>
            </div>
        </div>
        </if>
        <!--友情链接 end-->
        <div class="blank"></div>
        <include file='__TEMPLATE__/ec/common/library/page_footer.lbi'/>
        
    </body>
</html>